* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Outfit', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 100%;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5e1ef;
}
.page .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    width: 330px;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    padding-bottom: 35px;
    box-shadow: 2px 9px 18px rgba(0, 0, 0, 0.109);
}
.image {
    margin-bottom: 33px;
}
img {
    max-width: 100%;
    border-radius: 15px;
}
.text h2 {
    margin-bottom: 26px;
}
.text p {
    font-size: 17px;
    color: hsl(210, 3%, 73%);
}